*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

body{
    font-family: 'arial';
  }

  /* Header */

.header_inner_content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

.nav_bar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.nav_bar>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo{
  color: #10c01ca8;
}

.logo span{
  color: #ffffffc0;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.nav_icon_container{
  display: flex;
  align-items: center;
}

.nav_icon_container img{
  width: 30px;
  cursor: pointer;
}

.nav_icon_container img:first-child{
  margin-right: 1rem;
}

nav ul li{
  color: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}

nav ul li:hover{
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.menu_button{
  display: none;
}

.header{
  background-image: radial-gradient(#fff, #c7c7c7);
}

.header_bottom_side{
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}

.header_bottom_side_left{
  height: 100px;
  flex-basis: 50%;
}

.header_bottom_side_left h2{
  font-size: 3.2rem;
  margin-bottom: 1.5rem;

}

.header_bottom_side_left p{
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.header_bottom_side_left button{
  background-color: #0084ff;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s;
}

.header_bottom_side_left button:hover{
  background-color: #004c94;
}

.header_bottom_side_right{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_bottom_side_right img{
  width: 115%;
}

/* Media Queries */
@media (max-width: 800px){
  .logo{
    font-size: 1.2rem;
  }

  .header_bottom_side {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }
  nav{
    position: absolute;
    background-color: #2c2c2c;
    width: 100%;
    top: 46px;
    display: none;
  }

  .show_menu nav{
    display: block;
  }

  nav ul{
    flex-direction: column;
  }

  nav ul li{
    text-align: center;
    padding: 0.8rem;
    
  }

}

/* Header */

/* Main Content*/

main{
  background-color: #ebebeb;
}

.gray_background{
  background-color: #2c2c2c;
}

.page_inner_content{
  max-width: 1200px;
  margin: 0 auto;
}

.cols{
  display: grid;
  justify-content: space-evenly;
  padding: 4rem 1rem;
  
}

.cols_3{
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.cols_3 img{
  max-width: 100%;
}

.cols_4 img{
  max-width: 100%;
}

.cols_4{
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cols>*{
  cursor: pointer;
  transition: all 0.2s;
}

.cols>*:hover{
  transform: translateY(-5px);
}

.section_title{
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}

.subtitle_underline{
  width: 100px;
  height: 5px;
  background: #0084ff;
  border-radius: 9999px;
  margin: 8px auto 0 auto;
}

.product{
  color: #2c2c2c;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.product_name{
  font-weight: 600;
  margin-top: 0.4rem;
}

.rate{
  color: #0084ff;
  font-size: 1.3rem;
}

.product_price span{
  font-weight: 600;
}

.exclusive_container{
  color: #fff;
  flex-direction: row-reverse;
  padding: 5rem 1rem;
}

.exclusive_container img{
  max-width: 500px;
}

/* Media queries */

@media (max-width: 800px){
  .section_title{
    font-size: 1rem;
  }

  .cols_3{
    grid-template-columns: repeat(1, 1fr);
  }
  .cols_4{
    grid-template-columns: repeat(2, 1fr);
  }

  .product_name, .product_price, .rate{
    max-height: 1rem;
    overflow: hidden;
    font-size: 0.8rem;
  }

  .exclusive_container{
    flex-direction: column-reverse;
  }

  .exclusive_container img{
    margin-bottom: 4rem;
  }

}

/* Main Content */

/* Comentários */

.comentarios{
  display: flex;
  padding: 4rem 1rem;
  justify-content: space-evenly;
}

.comentario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  text-align: center;
  box-shadow: 0 0 15px #afafaf;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.comentario:hover{
  transform: translate(-5px);
}

.comentario p{
  margin: 5px 0;
}

.comentario p:first-child{
  font-weight: bold;
  font-size: 5rem;
  color: #0084ff;
  margin-top: 3rem;
  line-height: 2rem;
}

.comentario p:last-child{
  font-weight: bold;
}

/* Media queries */

@media (max-width: 800px){
  .comentarios{
    flex-direction: column;
  }
  .comentario{
    margin-bottom: 1.2rem;
  }

}

/* Comentários */

/* Footer */

.footer_content{
  display: flex;
  align-items: center;
  color: #8f8f8f;
  padding: 4rem 1rem;
  gap: 2rem;
}

.download_options>*{
  margin: 1rem 0;
}

.download_options>p:first-child{
  font-weight: bold;
  color: #fff;
}

.download_options>div{
  display: flex;
}

.download_options>div img{
  width: 180px;
}

.logo_footer{
  text-align: center;
}

.links_footer h3{
  color: #fff;
  margin-bottom: 0.8rem;
}

.links_footer ul{
  list-style: none;
}

.links_footer ul li{
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.copyright{
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

/* Media Queries */

@media (max-widht: 800px){
  .footer_content{
    display: inline;
    font-size: 0.8rem;
  }

  .footer_content>div{
    padding: 1rem;
  }

  .download_options>div{
    display: inline;
  }

  .download_options>div img{
    width: 1200px;
  }

  .copyright{
    font-size: 0.8rem;
  }
}

/* Footer */



